:root {
    --first-color: #F02E33;
    --second-color: #F0702E;
    --third-color: #F04E2E;
    --fifth-color: #F0922E;
    --sixth-color: #F5A797;
    --low-gap: 20px;
    --high-gap: 20px;
}

body, ul, li, figure {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: var(--high-gap);
    min-height: 100vh;
    background-color: var(--fifth-color);
}

h1, h2 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 36px;
    color: var(--fifth-color);
}

h2 {
    font-size: 32px;
    color: var(--sixth-color);
}

p, li {
    font-size: 18px;
    text-align: justify;
    color: var(--sixth-color);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--high-gap);
    padding: var(--high-gap);
    background-color: var(--first-color);
}

header, footer {
    background-color: var(--third-color);
    padding: var(--high-gap);
}

section {
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--high-gap);
    width: 70%;
    max-width: 1200px;
    padding: var(--high-gap);
    background-color: var(--second-color);
}

figure {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
}

img {
    max-height: 520px;
}

figcaption {
    text-align: center;
    background-color: var(--second-color);
    color: var(--sixth-color);
}

li {
    list-style: none;
    text-align: center;
}

p {
    margin: 0;
}

/* Медиа-запросы */
@media (max-width: 1440px) {
    section {
        max-width: 1000px;
    }
    h1 { font-size: 32px; }
    h2 { font-size: 28px; }
    p, li, figcaption { font-size: 16px; }
}

@media (max-width: 1024px) {
    section {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    section {
        width: 80%;
        max-width: 600px;
    }
    h1 { font-size: 28px; }
    h2 { font-size: 24px; }
}

@media (max-width: 414px) {
    section {
        width: 90%;
        max-width: 370px;
    }
    h1 { font-size: 24px; }
    h2 { font-size: 22px; }
    p, li, figcaption { font-size: 14px; }
}

@media (max-width: 320px) {
    section {
        max-width: 300px;
    }
}
